* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home{
    background-color: #39e0a9;
    padding: 50px;
    text-align: left;
}

.recipe{
    background-color: rgb(49, 207, 110);
    text-align: left;
    padding: 20px;
}

.home-title {
    margin-bottom: 50px;
    font-size: 100px;
    color: rgb(224, 67, 67);
}

.recipe-link {
    text-decoration: none;
    font-size: 50px;
    color: white;
    display: block;
    margin-bottom: 30px;
}

.home-link{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
}

.recipe-heading, .recipe-title {
    margin: 10px auto;
}

.recipe-title {
    text-align: center;
}

img{
    display: block;
    margin: 15px auto;
    width: 400px;
}